<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gamePrice="$200.99" gameType="Digital | Ps4"></app-card>
    <app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusive" gamePrice="$58.99" gameType="Disc | Ps5"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="Digital" gamePrice="$200.99" gameType="Digital | Ps4"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="Exclusive" gamePrice="$58.99" gameType="Disc | Ps5"></app-card>
</div>